.result-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.result-list-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.result-list-top h2 {
  margin-bottom: 0;
}

.prompt-qty {
  margin-top: 0;
  font-size: 16px;
  opacity: 0.5;
}

#clear-list-button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}

#clear-list-button:hover,
.clear-list-confirmation button:hover {
  opacity: 0.7;
}

.clear-list-confirmation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.clear-list-confirmation button {
  transition: 0.3s;
}

#confirmation-prompt {
  font-size: 16px;
}

#confirm-clear-list-button,
#cancel-clear-list-button {
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

#cancel-clear-list-button {
  color: #e42828;
}

#results-table {
  text-align: left;
  background-color: #e7e9eb;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 60vw;
}

#results-table th {
  padding-right: 2rem;
  vertical-align: top;
}

.prompt-entry:first-child #results-table {
  border: 1px solid black;
}

@media only screen and (max-width: 700px) {
  .result-list,
  .result-list-top,
  .prompt-entry,
  #results-table {
    width: 75vw;
  }

  .prompt-entry {
    display: flex;
    justify-content: center;
  }

  #results-table tr {
    margin-bottom: 0.5rem;
  }

  .entered-prompt,
  .result {
    display: flex;
    flex-direction: column;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
